<html>
    <head>
        <title>Zeus Agent</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="main-menu">
            <div id="comdetails">
              Zeus Agent
            </div>
            <div id="navbar">
                <a href="/home">
                    <input type="button" name="goBack" id="goBack" value="Go Back" style="background-color: darkgray; width: fit-content;">
                </a>
                <a href="/logout">
                    <input type="button" name="logout" id="logout" value="Logout" style="background-color: darkgray; width: fit-content;">
                </a>
            </div>
        </div>
        <div >
            <input type="text" id="url" style="text-align: center; margin-top: 50px; font-size: large;" readonly value="https://zeus-agent-ob6jn6iixq-el.a.run.app/<%= data %>" > 
            <br><br>
            <input type="button" onclick="copyURL()" value="Copy URL">
            </input> 
        </div>
    </body>
    <script>
        function copyURL() {
            var copyText = document.getElementById("url");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);
            alert("Copied the text: " + copyText.value);
        }
    </script>
</html>