<html>
    <head>
        <title>Zeus Agent</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
        <div id="main-menu">
            <div id="comdetails">
              Zeus Agent
            </div>
            <div id="navbar">
                <a href="/prevNotes">
                    <input type="button" name="goBack" id="goBack" value="Go Back" style="background-color: bisque; width: fit-content;">
                </a>
                <a href="/logout">
                    <input type="button" name="logout" id="logout" value="Logout" style="background-color: bisque; width: fit-content;">
                </a>
            </div>
        </div>
        <div id="fullnoteDesc">
            Title:&nbsp;<%= data.title %>
            <br><br>
            Description:&nbsp;<%= data.text %>
            <br><br>
            Created On:&nbsp;<%= data.date.substring(0,25) %>
            <br><br>
            <% if (data.img == "") { %>
                No Image Uploaded
            <% } else { %>
                <img src="<%=data.img%>" />
            <% } %>
        </div>
    </body>
</html>